<p-dialog [visible]="true" (onShow)="onDialogShow()">
  <div>
    <div>
      <div>
        <button (click)="onUpload($event)">Upload...</button>
      </div>
      <div>
        <button (click)="rotateLeft()">Rotate Left</button>
        <button (click)="rotateRight()">Rotate Right</button>
      </div>
      <div>
        <button (click)="onPreviousPageClicked()">Prev</button>
        <span>{{ (currentPage$ | async) }} / {{ pageCount$ | async }}</span>
        <button (click)="onNextPageClicked()">Next</button>
      </div>
      <div>
        <button (click)="onZoomInClicked()">Zoom In</button>
        <button (click)="onZoomOutClicked()">Zoom Out</button>
        <button (click)="onResetZoomClicked()">Reset Zoom</button>
      </div>
      <div>
        <button (click)="onDrawRedactionClicked()">Draw Redaction</button>
        <button (click)="onDeleteRedactionClicked()">Delete Redaction</button>
      </div>
    </div>
    <div id="canvas-container" class="canvas-container"></div>
    <input
      id="file-input"
      type="file"
      multiple
      accept=".jpg,.jpeg,.png"
      hidden
      (change)="onFileChange($event)"
    />
  </div>
</p-dialog>
